  .social-item {
  position: absolute;
  top: 15px;
  right: 20px;
  }
  
  .nav-container {
    margin: 2em;
    .content{
      text-align: center;
    }
  }

  .company-name {
    text-align: left
  }

@import "@picocss/pico/scss/pico";